* {
  margin: 0;
  padding: 0;
}

#form{
  display: flex;

  justify-content: center;
  text-align: left;
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  box-shadow: 0 0 15px;
  width: 500px;
  height: 700px;

   
 }

 label{
  float:left;
  padding: 10px;
  font-size:16px
  }


nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: black;
}

nav img {
  width: 20vw;
  object-fit: cover;
}

nav li {
  display: inline-flex;
  padding-left: 20px;
}

nav ul {
  list-style-type: none;
}

.error {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  margin-top: 100px;
}

.hero {
  position: relative;
  background-image: url(./images/imgplaceholder.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 35% bottom 45%;
  height: 50vh;
}

.hero-text {
  width: 100vw;
  position: absolute;
  text-align: center;
  top: 20vh;
}

.subscribe {
  display: flex;
  height: 15vh;
  justify-content: center;
}

.subscribe button {
  background-color: black;
  color: white;
}

.subscribe-text {
  position: relative;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5vw;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 0.1fr repeat(3, 1fr);
  grid-template-rows: repeat(12, 1fr);
  text-align: center;
  color: white;
  grid-gap: 10px;
  height: 45vh;
  width: 95%;
  margin: auto;
}

.grid-cell-1 {
  background-color: #898989;
  grid-area: 1 / 1 / 13 / 7;
}

.img-card-lg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/imgplaceholder.jpg);
  height: 100%;
  background-position: right 35% bottom 45%;
}

.img-card-sm {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/imgplaceholder.jpg);
  height: 100%;
  background-position: right 35% bottom 45%;
  width: 100%;
}

.grid-cell-2 {
  background-color: #658db5;
  grid-area: 1 / 8 / 7 / 11;
}

.grid-cell-3 {
  background-color: #658db5;
  grid-area: 7 / 8 / 13 / 11;
}



